@tailwind base;
@tailwind components;
@tailwind utilities;

.context-menu-title .p-menuitem-text {
    @apply truncate;
}

.p-contextmenu {
    @apply w-96 !important;
}

img[lazy=loading] {
    @apply animate-pulse;
}

img[lazy=error] {
    /*your style here*/
}

img[lazy=loaded] {
    /*your style here*/
}


.list-enter-active,
.list-leave-active {
    transition: all 1s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
