@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    blockquote,
    dl,
    dd,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    figure,
    p,
    pre {
        margin: 0;
    }

    pre {
        padding: 0;
        background: none;
        border: none;
    }

    *,
    ::before,
    ::after {
        border-width: 0;
        border-style: solid;
        border-color: theme('borderColor.DEFAULT');
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: inherit;
    }

    button, button:visited, button:focus {
        outline: none;
    }

    table {
        border: none;
    }

    kbd {
        @apply bg-slate-100 rounded-sm text-slate-600 font-mono p-0.5 text-xs mx-0.5;
    }
}

.context-menu-title .p-menuitem-text {
    @apply truncate;
}

.p-contextmenu {
    @apply w-96 !important;
}

img[lazy=loading] {
    @apply animate-pulse;
}

img[lazy=error] {
    /*your style here*/
}

img[lazy=loaded] {
    /*your style here*/
}

.text a {
    @apply text-blue-500 hover:text-blue-700;
}


.p-toast .p-toast-message .p-toast-message-content {
    @apply !border-0;
}


.n-dropdown-option-body__label {
    @apply max-w-lg overflow-ellipsis overflow-hidden;
}
